//====================================================================================================
.main-section {
    

    // .main-section__container

    &__container {

        display: grid;
        min-height: 100%;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
       padding-top: toRem(80);
       padding-bottom: toRem(40);
       column-gap: toRem(20);
       @media (max-width:$mobile){
          grid-template-columns: auto;
          row-gap: toRem(30);
       }
    }

    // .main-section__content

    &__content {}

    // .main-section__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(32);
        }
    }

    // .main-section__text

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }

    // .main-section__image


    // .main-section__decor

    &__decor {
    }



    &__image {

       
    }
}


.decor-main-section {
        max-width: 336px;
        margin: 0 toRem(30);
      justify-self: center;
        @media (min-width:$mobile){
            justify-self: end;
            width: 100%;
        }
        @media (max-width:$mobile){
            max-width: none;
            @include adaptiveValue("width", 336, 245);
        }

    // .decor-main-section__image

    &__image {
        position: relative;
            padding-bottom: percent(400, 336);
       
        
            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: toRem(16);
                
            }
        
            &::before {
                z-index: 1;
                background-color: #7E74F1;
                transform: rotate(-9.545deg);
            }
               &::after{
                z-index: 2;
            
                  background: #EAE6FE url("@img/main/lines.svg") top right /58% no-repeat;

                 }
    }

 
    // .decor-main-section__picture

    &__picture {
        z-index: 3;
        max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
    }
     
}
//====================================================================================================

.services {
background-color: #FBFBFB;
    // .services__container

    &__container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: toRem(30);
       padding-top: toRem(80);
       
    }

    // .services__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 30);
        }
    }

    // .services__items

    &__items {
        background-color: #FFFFFF;
        width: 100%;
        display: grid;
        @include adaptiveValue("gap", 56, 20);
        grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));}

    // .services__item

    &__item {

    }
}


.item-service {

    border-radius: toRem(8);
    background-color: #fff;
    @include adaptiveValue("padding", 50, 15);
    display: grid;
    justify-items: center;
    text-align: center;

    // .item-service__icon

    &__icon {
        width: toRem(56);
        height: toRem(56);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #F5F3FE;
        &:not(:last-child) {margin-bottom: toRem(24);}
    }

    // .item-service__title

    &__title {
        font-weight: 500;
        line-height: math.div(20,16);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }}

    // .item-service__text

    &__text {
        font-size: toRem(14);
        line-height: math.div(24,14);
    }
}


//====================================================================================================



.portfolio {

    // .portfolio__container

    &__container {
        display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: toRem(80);
            padding-bottom: toRem(30);
           
    }

    // .portfolio__header

    &__header {
display: flex;
gap: toRem(20);
justify-content: space-between;
align-items: center;
@include adaptiveValue("margin-bottom", 144, 30);
@media (max-width: em(600)){
    align-items: center;
    flex-direction: column;
      
}
    }

    // .portfolio__title

    &__title {}

    // .portfolio__controls

    &__controls {
        display: flex;
        align-items: center;
        gap: toRem(16);
    }

    // .portfolio__arrow

    &__arrow {
        font-size: toRem(11);
        color: #7E74F1;
        background-color: #EAE6FE;
        border-radius: toRem(16);
        width: toRem(40);
        height: toRem(40);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                background-color: #d6cefc;
            }
        }
        &.swiper-button-disabled {
            cursor: default;
            opacity: 0.5;
            color: #7E74F1;
                background-color: #EAE6FE;
        }
    }
   

    // .portfolio__arrow-left

    &__arrow-left {
        transform: rotate(-180deg);
    }

    // .portfolio__arrow-right

    &__arrow-right {}

        // .portfolio__slider
    
        &__slider {}
    
        // .portfolio__wrapper
    
        &__wrapper {}
    
        // .portfolio__slide
    
        &__slide {}
}

.item-portfolio {
border-radius: toRem(8);
border: 1px solid #F5F5F5;
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
    // .item-portfolio__image-ibg

    &__image-ibg {
        overflow: hidden;
       // padding-bottom: percent(295,361);
       max-height: toRem(295);
        opacity: 0.5;
        transition: all 0.5s;
        img{
            transition: all 0.5s;
        }
        @media (any-hover: hover){
            &:hover{
                opacity: 1;
                img{
                    transform: scale(1.1);
                }
            }
        }
                @media (any-hover: none) {
                    opacity: 1;
                }
    }

    // .item-portfolio__body

    &__body {
        padding: toRem(24);
        display: flex;
            flex-direction: column;
            gap: toRem(16);
            flex: 1 1 auto;
    }

    // .item-portfolio__title

    &__title {
        flex: 1 1 100%;
    }

    // .item-portfolio__link-title

    &__link-title {
        color: #232e35;
            font-weight: 500;
            line-height: math.div(20, 16);
            transition: color 0.3s ease 0s;
        
            @media (any-hover: hover) {
                &:hover {
                    color: $purpleColor;
                }
            }
    }

    // .item-portfolio__footer

    &__footer {
        
        display: flex;
            align-items: center;
            gap: toRem(16);
    }

    // .item-portfolio__category

    &__category {}

    // .item-portfolio__link

    &__link {
            transition: color 0.3s ease 0s;
                font-size: toRem(16);
            
                @media (any-hover: hover) {
                    &:hover {
                        color: $purpleColor;
                    }
                }
    }
}
